limine
docs
disk_root
source/obj
FrostWing.iso
*.elf
*.o
*.d
doxygen-1.9.8
*.log
source/typescript/typescript-source.c
source/kernel/typescript-source.c
FrostWing.iso.*
*.gcov
cache
bin
source/kernel/C/misc/versions.c
keys/file.sig
keys/private_key.pem
*.bin
*.raw
*.so
!fs_root/lib/*.so
!fs_root/lib64/*.so
*.img.tar.gz
fwtoolchain
# Generated crash-diagnosis source map
source/kernel/C/crash_symbols.generated.c
source/compile_commands.json

# Get from separate repo in Frost-Wing Organization @ github
fs_root
fs_root.*
disk.img