limine
docs
disk_root
source/obj
FrostWing.iso
*.elf
*.o
*.d
doxygen-1.9.8
*.log
.vscode
source/typescript/typescript-source.c
source/kernel/typescript-source.c
doxygen-awesome-css
FrostWing.iso.*
*.gcov
cache
bin
source/kernel/C/misc/versions.c